input, .font-black {
	color: black;
}
.buttonMarginTop {
	margin-top:20px;
}
table {
	border-spacing: 10px;
}
.tblText {
	vertical-align: center;
}
.hright {
	text-align: right;
}

.thick {
    font-weight: bold;
}